<app-cars-search (search)="searchCars($event)"></app-cars-search>

<div *ngIf="!noResults" class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6 p-5">

        <dl class="row bg-light border rounded-lg p-4" *ngIf="resultData">
            <dd class="col-sm-10">Общее колличество объявлений:</dd>
            <dt class="col-sm-2">
                <p>{{resultData.total}}</p>
            </dt>
            <dd class="col-sm-10">Средняя арифметическая цена:</dd>
            <dt class="col-sm-2">
                <p>{{resultData.arithmeticMean | currency:'USD':'symbol':'4.0-0'}}</p>
            </dt>
            <dd class="col-sm-10">Среднее арифметическое между 1 и 4 квартилем:
                <span class="badge badge-primary" placement="top"
                    ngbTooltip="Среднее арифметическое без учета 25% самых дешевых и самых дорогих цен.">?</span>
            </dd>
            <dt class="col-sm-2">
                {{resultData.interQuartileMean | currency:'USD':'symbol':'4.0-0'}}
            </dt>
        </dl>
    </div>
    <div class="col-md-3"> </div>
</div>

<div *ngIf="noResults" class="row m-5">
    <pre></pre>
    <div class="alert alert-danger mx-auto" role="alert">
        <div>По задданому запросу объявления не найдены</div>
    </div>
</div>

<div class="container" *ngIf="!noResults">
    <div class="row mb-5">
        <h3 class="mx-auto">Показано {{loadedCarsCount}} объявления с ценой, которая близка к средней</h3>
    </div>
    <div class="row">
        <car-info class="col-md-6" *ngFor="let car of carsList" [carInfo]="car"></car-info>
    </div>
</div>


<!-- <app-car class="col-md-4" *ngFor="let photo of photosForPage" [photo]="photo"></app-car> -->
<!-- <app-cars-paging [pagingParams]="pagingParams" (onPageChanged)="pageChanged($event)"></app-cars-paging> -->